@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
/*
    font-family: 'Roboto', sans-serif;
    color: #0b0c17 / #ff3571 / #dddddd / #3C30FF / #FFF / #000
*/

/* =====================================
            Global_Style
========================================*/
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: url(../img/ilustracion1.png) right top/60% no-repeat;
}

h1, h2, h3, p{
    margin: 0;
}

/*=======================================
            Start-Header_style
=========================================
*/

header{
    display: flex;
}
header div{
    margin-left: 50px;
}
header img{
    position: fixed;
    top: 5px;
    left: 5px;
    width:40px;
}

/*=======================================
            End-Header_style
=========================================
*/

/*=======================================
        Start-Main_style //Global
=========================================
*/

main{
    margin: 0;
}

.icons{
    width: 50px;
}

.steps-headline-color{
    color: #dddddd;
    font-size: 3.5em;
    padding-bottom: 50px;
}

.icon-steps-size{
    width: 40px;
    padding-bottom: 50px;
}

/*=======================================
        End-Main_style
=========================================
*/

/*=======================================
            Start-Section_style //01
=========================================
*/

section:nth-of-type(1){
    display: flex;
}

section:nth-of-type(1) div{
    width:25%;
    padding: 40vh 7%;
}

section:nth-of-type(1) h1{
    font-size: 3.5em;
}

section:nth-of-type(1) p{
    padding-top: 30px;
}

section:nth-of-type(1) a{
    display: inline-block;
    padding-top: 350px;
    text-decoration: none;
    color: #ff3571;
    font-weight: bold;
}

.img-people{
    width: 55%;
    padding-bottom: 400px;
    position: relative;
    animation-name: falling-man;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes falling-man{
    0% {top: 0px;}
    25% {top: 25px;}
    50% {top: 0px;}
    100% {top: 25px;}
}

/*=======================================
            End-Section_style //01
=========================================
*/

/*=======================================
            Start-BIG_IMG //02
=========================================
*/

section:nth-of-type(2){
    height: 100vh;
    background: url(../img/images.jpg) center/contain no-repeat;
}

/*=======================================
            End-BIG_IMG //02
=========================================
*/

/*=======================================
            Start-Section-IDEA_style //03
=========================================
*/

section:nth-of-type(3){
    display: flex;
    justify-content: center;
    padding: 15vh 0px 10vh 0px;
}

section:nth-of-type(3) h1{
    font-size: 4em;
    width: 23%;
    padding-right: 10%;
}

section:nth-of-type(3) img{
    width: 15%;
}

section:nth-of-type(3) p{
    width: 30%;
    line-height: 27px;
    align-self: flex-end;
}

/*=======================================
            End-Section-IDEA_style //03
=========================================
*/

/*=======================================
            Start-Section_style //04
=========================================
*/

section:nth-of-type(4){
    margin: 0 auto;
    width: 63%;
    font-size: 2.5em;
    padding: 15vh 0px 15vh 0px;
}

section:nth-of-type(4) h1{
    padding-right: 100px;
}

/*=======================================
            End-Section_style //04
=========================================
*/

/*=======================================
    Start-Section_infoBox_1&2_style //05
=========================================
*/

section:nth-of-type(5){
    display: flex;
    justify-content: center;
    padding: 10vh 0px 10vh 0px;
}

section:nth-of-type(5) div{
    width: 20%;
}

section:nth-of-type(5) div:nth-of-type(1){
    padding-right: 15%;
}

section:nth-of-type(5) img{
    align-self: flex-start;
    padding-right: 20px;
}

section:nth-of-type(5) h2{
    font-size: 1.5em;
}

section:nth-of-type(5) p{
    line-height: 25px;
}

/*=======================================
    End-Section_infoBox_1&2_style //05
=========================================
*/

/*=======================================
    Start-Section_infoBox_3&4_style //06
=========================================
*/

section:nth-of-type(6){
    display: flex;
    justify-content: center;
    padding: 10vh 0px 10vh 0px;
}

section:nth-of-type(6) div{
    width: 20%;
}

section:nth-of-type(6) div:nth-of-type(1){
    padding-right: 15%;
}

section:nth-of-type(6) img{
    align-self: flex-start;
    padding-right:20px;
}

section:nth-of-type(6) h2{
    font-size: 1.5em;
}

section:nth-of-type(6) p{
    line-height: 25px;
}

/*=======================================
    End-Section_infoBox_3&4_style //06
=========================================
*/

/*=======================================
        Start-Section_style //07
=========================================
*/

section:nth-of-type(7){
    text-align: center;
    width: 40%;
    margin: 0 auto;
    padding: 15vh 0px 15vh 0px;
}

section:nth-of-type(7) h1{
    font-size: 3em;
}

section:nth-of-type(7) p{
    font-size: 1.5em;
    padding-top: 30px;
}

/*=======================================
        End-Section_style //07
=========================================
*/

/*=======================================
    Start-STEP1&3_style //08//10
=========================================
*/

section:nth-of-type(8){
    display: flex;
    justify-content: center;
    margin: 15% 0px 20% 0px;
}

section:nth-of-type(8) p{
    line-height: 30px;
    font-size: 18px;
}

section:nth-of-type(10){
    display: flex;
    justify-content: center;
    margin: 15% 0px 20% 0px;
}

section:nth-of-type(10) p{
    line-height: 30px;
    font-size: 18px;
}

.step-big-img{
    width: 30%;
    padding: 0px 15% 0px 15%;
}

.step-div-width-even{
    width: 30%;
    margin-left: 10%;
}

/*=======================================
            End-STEP1&3_style //08//10
=========================================
*/

/*=======================================
            Start-STEP2&4_style //09//11
=========================================
*/

section:nth-of-type(9){
    display: flex;
    justify-content: center;
    margin: 15% 0px 20% 0px;
}

section:nth-of-type(9) p{
    line-height: 30px;
    font-size: 18px;
}

section:nth-of-type(11){
    display: flex;
    justify-content: center;
    margin: 15% 0px 20% 0px;
}

section:nth-of-type(11) p{
    line-height: 30px;
    font-size: 18px;
}

.step-div-width-odd{
    width: 30%;
    margin-right: 10%;
}

/*=======================================
            End-STEP2&4_style //09//11
=========================================
*/

/*=======================================
            Start-FOOTER_style
=========================================
*/

footer{
    text-align: center;
    position: relative;
}

footer h1{
    font-size: 4em;
    padding-bottom: 20px;
}

footer p:nth-child(2){
    font-size: 1.7em;
    padding-bottom: 10vh;
}

footer div{
    display: flex;
    align-items: baseline;
    margin: 15vh 0px 10px 10%;
}

footer div p{
    padding-left: 30px;
    font-size: 1rem;
}

input[type="email"]{
    width: 20%;
    text-align: center;
    margin-bottom: 40px;
    padding: 15px 0px;
    border: 0.5px solid #dddddd;
    border-radius: 10px;
    outline: none;
}

input[type="button"]{
    width: 10%;
    background-color: #ff3571;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    padding: 15px 0px;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-bottom: 100px;
}

footer img{
    position: relative;
    animation-name: theHearth;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes theHearth{
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

/*=======================================
            End-FOOTER_style
=========================================
*/

/*=======================================
            start_popUp_style
=========================================
*/

.popUp-container{
    position: absolute;
    display: none;
    left: 10%;
    bottom: 25%;
    text-align: center;
    padding: 100px;
    height: 40vh;
    width: 50%;
    background: #fff;
    box-shadow: 0 0 10px rgba(102,102,102, .8);
}

.popUp-container img, h3, p{
    margin-bottom: 50px;
}

.popUp-container h3{
    font-size: 2em;
}

#popup-button{
    width: 40%;
    background: #3C30FF;
}

/*=======================================
            End-popUp_style
=========================================
*/